@model ArtGallery.Models.FormDto

@{
    ViewBag.Title = "Details";
}


<main class="container body-content">
  <div class="clearing"></div>
  <h2 class="tableTitle">Form</h2>

  <div class="detailsTable">
    <dl class="dl-horizontal">
      <dt>
        @Html.DisplayNameFor( model => model.formName )
      </dt>

      <dd>
        @Html.DisplayFor( model => model.formName )
      </dd>
    </dl>
  </div>
  <div class="actionLinkDiv">
    @Html.ActionLink( "Back to List", "Index" )
    <div class="buttonAction">
      @Html.ActionLink( "Edit", "Edit", new {
        id = Model.formId
      } )
    </div>
  </div>
</main>