body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/********************** My stuff ************************/

/* Action Links */
.actionLinkDiv {
    padding: 1em;
}

.actionLinkDiv a {
    padding: .25em;
}

.buttonAction {
  border: 1px solid #576679;
  background-color: #576679;
  padding: .4em 1.2em;
  display: inline-block;
  margin: 0 .5em;
}

.buttonAction a {
    text-decoration: none;
    color: #ddd;
    text-transform: uppercase;
}

/* Buttons to look like Action Links*/
.buttonLikeActionDiv {
    padding: 1em;
}

.buttonLikeAction {
  border: 1px solid #576679;
  background-color: #576679;
  padding: .5em 1.2em;
  color: #ddd;
  text-transform: uppercase;
}

/* Message div */

.messageDiv {
    font-size: 1.2em;
    padding: 1em;
}
